{% for i in articleList %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="">
                        <span class="entry-date">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            {{ i.date }}
                        </span>
                        <span class="author vcard">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ i.hit }}
                        </span>

                        <span class="comments-link">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            <span class="ds-thread-count" data-thread-key="25">{{ i.comment }}</span>
                        </span>
            </div>
            <div class="line01"></div>
            <div class="">
                <div>
                    <h1><a href="{{ i.url }}" rel="bookmark">{{ i.title }}</a></h1>
                </div>

                <div class="panel-body">
                    {{ i.content }}
                </div>
            </div>
            <div class="line01"></div>
            <div class="">
                <div class="tag">
                            <span class="entry-categories">
                                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                                <a href="{{ i.url }}" rel="category">{{ i.type }}</a>
                            </span>
                            <span class="entry-tags">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                <a href="{{ i.url }}" rel="tag"> {{ i.tags }}</a>
                            </span>
                </div>
                <div class="share">
                    {% include "pages/share.html" %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}