<!DOCTYPE html>
<html lang="en">
<head>
    <title>拾年</title>
    {% include 'base.html' %}

    <link rel="shortcut icon" href="/Mystatic/img/favicon.png">
    <!-- siimple style -->
    <link href="/Mystatic/css/style.css" rel="stylesheet">
    <!-- jqcloud style -->
    <script type="text/javascript" src="/Mystatic/js/jqcloud-1.0.4.js"></script>

    <link rel="stylesheet" type="text/css" href="/Mystatic/css/jqcloud.css"/>

</head>
<body>
<!-- Fixed navbar -->
    <div class="body">
        {% include "pages/header.html" %}

        <div class="main">
            <div class="main-left">
                {% include "pages/article.html" %}
                {% if articleList %}
                    <!-- 分页-->
                <div>{% include "pages/page.html" %}</div>
                {% endif %}
            </div>
        </div>
        <!--/.main-left -->

        <div class="main-right">
            <div class="panel panel-default">
                <div class="panel-body">
                    <iframe width="100%" height="500" class="share_self" frameborder="0" scrolling="no"
                            src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=2172763902&verifier=24dcfc20&colors=d6f3f7,ffffff,666666,0082cb,eff7f9&dpc=1"></iframe>
                </div>
            </div>

            <ul class="list-unstyled">
                {% for i in menuList %}
                    <a href="#" class="list-group-item {% ifequal  i.count  0 %}disabled{% endifequal %}">
                        <span class="badge">{{ i.count }}</span>
                        {{ i.type }}
                    </a>
                {% endfor %}
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>我的标签</h3>
                    <div id="my_words" class="myCloud"></div>
                </div>
            </div>
        </div>
        <!--/.main-right -->
    </div>
<!--/.main -->
</div><!--/.body -->

<script type="text/javascript">
    var word_list = [
        {text: "ifxoxo.com", weight: 13, link: "http://ifxoxo.com/jquery-jqcloud.html"},
        {text: "520xmn.com", weight: 10.5},
        {text: "jquery", weight: 9.4},
        {text: "jqcloud", weight: 8},
        {text: "ifxoxo1", weight: 6.2},
        {text: "ifxoxo2", weight: 5},
        {text: "ifxoxo3", weight: 5},
        {text: "Nam et", weight: 5},
        {text: "Sapien", weight: 4},
        {text: "Pellentesque", weight: 3},
        {text: "et malesuada", weight: 3},
        {text: "fames", weight: 2},
        {text: "sit amet", weight: 2},
        {text: "justo", weight: 1},
        {text: "dictum", weight: 1},
        {text: "Ut et leo", weight: 1},
    ];
    $(function () {
        $("#my_words").jQCloud(word_list);
    });
</script>
</body>
</html>