<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% include 'base.html' %}
    <!-- Javascript -->
        <script src="/Mystatic/js/supersized.3.2.7.min.js"></script>
        <script src="/Mystatic/js/supersized-init.js"></script>
        <script src="/Mystatic/js/scripts.js"></script>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="/Mystatic/css/reset.css">
        <link rel="stylesheet" href="/Mystatic/css/supersized.css">
        <link rel="stylesheet" href="/Mystatic/css/loginStyle.css">

</head>
<body>
    <div class="page-container">
            <h1>Login</h1>
            <form action="{% url 'getLogin' %}" method="post">
                <input type="text" name="username" class="username" placeholder="Username">
                <input type="password" name="password" class="password" placeholder="Password">
                <button type="submit">Sign me in</button>
                <div class="error"><span>+</span></div>
                <textarea style="width:800px;height:500px;" class="ckeditor" rows="90" cols="60" name="blogcontent"  ></textarea>
            </form>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>


</body>
</html>